* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(95, 93, 91);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: rgb(219, 219, 219);
  letter-spacing: 10px;
  font-size: 30px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(219, 219, 219);
  margin: 15px;
  font-size: 20px;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(219, 219, 219);
  margin: 5px;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: transform 0.3s ease;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: transform 0.3s ease;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: 100vh;
}

main #about h2 {
  font-size: 3em;
  padding-bottom: 100px;
}

main #about p {
  font-size: 25px;
  margin-bottom: 100px;
}

main #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200vh;
}

main #projects h2 {
  margin-top: 150px;
}

main .project1,
main .project2,
main .project3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .project1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

main .project1 section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 40vh;
}

main .project1 section div {
  margin: 5px;
}

main .project1 section div li {
  list-style: none;
}

main .project1 img {
  padding-right: 100px;
}

main .project2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

main .project2 section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 40vh;
}

main .project2 section div {
  margin: 5px;
}

main .project2 section div li {
  list-style: none;
}

main .project2 img {
  padding-right: 100px;
}

main .project3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

main .project3 section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 40vh;
}

main .project3 section div {
  margin: 5px;
}

main .project3 section div li {
  list-style: none;
}

main .project3 img {
  padding-right: 100px;
}

main #experience {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 200px;
}

main #experience div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

main #experience div h3 {
  margin-bottom: 20px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#contact .container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90th;
  max-width: 600px;
  border-radius: 10px;
  background-color: #f0ecec;
}

#contact .container form h2,
p {
  font-weight: 800;
  margin-bottom: 20px;
}

#contact .container form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgb(204, 203, 203);
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #ff5361;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.dark {
  background-color: rgb(56, 56, 56);
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 20%;
    background-color: rgb(95, 93, 91);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin-bottom: 15px;
  }
  .burger {
    display: block;
  }
}
